{% extends 'base.html' %}

{% block content %}
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Projects</div>
    <ul id="project-list" class="list-group list-group-flush">
      {% for user_project in user_projects %}
        {% set project = user_project.project %}
        {% set role_name = user_project.role.name %}
        <li class="list-group-item p-3 mb-2 bg-light text-dark">
          <a href="{{ url_for('projects.project', id=project.id) }}">{{ project.title }} - {{ role_name }}</a><br>
          {% if role_name == 'Admin' %}
            <a href="{{ url_for('projects.manage', id=project.id) }}">manage</a>
            <form action="{{ url_for('projects.delete', id=project.id) }}" method="post">
              <button type="submit">delete</button>
            </form>
          {% else %}
            <form action="{{ url_for('projects.delete_member', id=project.id) }}" method="post">
              <button type="submit">quit</button>
            </form>
          {% endif %}
        </li>
      {% endfor %} 
    </ul>
  </div>
  <!-- New Project Button -->
  <button type="button" id="create-project-btn" class="btn btn-primary" data-toggle="modal" data-target="#projectModal">
    Create New Project
  </button>
  <!-- Project Modal -->
  <div class="modal fade" id="projectModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="projectModalLabel">New Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="create-project-form" class="needs-validation" action="{{ url_for('projects.create') }}" method="post" novalidate>
            <div class="form-group">
              <label for="project-title">Project Title</label>
              <input name="title" type="text" class="form-control" maxlength=50 placeholder="your project's title" required>
              <div class="invalid-feedback">
                Please provide your project's title.
              </div>
            </div>
            <div class="form-group">
              <label for="project-description">Project Description</label>
              <textarea name="description" class="form-control" maxlength=200 placeholder="your project's description" rows="3" required></textarea>
              <div class="invalid-feedback">
                Please provide your project's description.
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" form="create-project-form">Submit</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 

{% block scripts %}
  <script src="{{ url_for('static', filename='js/submission.js') }}"></script>
{% endblock %}