{% extends 'base.html' %}

{% block content %}
  <form class="needs-validation" action="{{ url_for('projects.update', id=project.id) }}" method="post" novalidate>
    <div class="form-group">
      <label for="project-title">Project Title</label>
      <input name="title" type="text" class="form-control" maxlength=50 placeholder="your project's title" value="{{ project.title }}" required>
      <div class="invalid-feedback">
        Please provide your project's title.
      </div>
    </div>
    <div class="form-group">
      <label for="project-description">Project Description</label>
      <textarea name="description" class="form-control" maxlength=200 placeholder="your project's description" rows="3" required>{{ project.description }}</textarea>
      <div class="invalid-feedback">
        Please provide your project's description.
      </div>
    </div>
    <button type="submit">Edit</button>
  </form>

  <h2>Members</h2>
  <input type="search" placeholder="search by name or email" name="search_term">
  
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='submission.js') }}"></script>
{% endblock %}