{% extends 'base.html' %} {% block header %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/manage.css') }}"
/>
{% endblock %} {% block content %}
<section>
  <form
    id="edit-project-form"
    action="{{ url_for('project.update', id=project.id) }}"
  >
    <div class="form-group">
      <label for="project-title">Project Title</label>
      <input
        type="text"
        id="project-title"
        class="form-control"
        maxlength="50"
        placeholder="your project's title"
        value="{{ project.title }}"
      />
    </div>
    <div class="form-group">
      <label for="project-description">Project Description</label>
      <textarea
        id="project-description"
        class="form-control"
        maxlength="200"
        placeholder="your project's description"
        rows="3"
      >
        {{ project.description }}
      </textarea>
    </div>
    <button type="submit" disabled>Edit</button>
  </form>
</section>

<section>
  <h2>Members</h2>
  <input
    type="search"
    placeholder="search by name or email"
    name="search_term"
  />
  <div id="members-container"></div>
</section>
<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#invitationModal"
>
  Invite
</button>

<div
  class="modal fade"
  id="invitationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="invitationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="invitationModalLabel">
          Invite a new member to <em>{{project.title}}</em>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          id="invitation-form"
          action="{{ url_for('project.invite', id=project.id) }}"
        >
          <div class="form-group autocomplete">
            <input
              type="search"
              class="form-control"
              maxlength="120"
              placeholder="search by username, fullname or email"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label for="role-select">Role</label>
            <select id="role-select" class="form-control">
              <option>Reviewer</option>
              <option>Developer</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-primary"
          form="invitation-form"
          disabled
        >
          Send Invitation
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='/js/manage/edit_project.js') }}"></script>
<script src="{{ url_for('static', filename='/js/manage/members.js') }}"></script>
<script src="{{ url_for('static', filename='/js/manage/invitation.js') }}"></script>
{% endblock %}
