<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='packages/theme.css') }}" media="all" />
</head>

<body>
  <div class="main-container fullscreen">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-7">
          <div class="text-center">
            <h1 class="display-1 text-primary">
              {% block header %}{% endblock %}
            </h1>
            <p>
              {% block description %}{% endblock %}
              <a href="{{ url_for('index') }}">Click here to go home</a> or
              Email
              <a href="mailto: zhouchengzhong77@gmail.com">zhouchengzhong77@gmail.com</a>
              if you think this might be an error.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>