venv/

*.pyc
__pycache__/

instance/
uploads/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.vscode/
.flaskenv

theme.js
theme.js.map
theme.css
theme.css.map
fonts/
images/

node_modules
.eslintrc.json
package-lock.json
package.json